_ReSharper*/
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esult*/
*.user
*.patch
*.sln.cache
*.orig
*.suo
*.log
*.exe
*.dll
*.resources
packages/
*.BASE.*
*.REMOTE.*
*.LOCAL.*
[Ss]tyle[Cc]op.*
*.csproj.DotSettings
*.sln.ide